* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-seriff;
}

:root {
  --main-color: #000000;
  --sec-color: #ffffff;
  --hov-color: #fe8f90;
  --bg-1-color: #ffede9;
  --bg-2-color: #fddad3;
  --p-color: #5e626f;
  --icon-color: #ffa534;

  --h1-font: 3.75rem;
  --h2-font: 2.5rem;
  --h3-font: 1.5rem;
  --h6-font: 1.125rem;
  --p-font: 1rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12%;
}

.logo img {
  width: 180px;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: var(--main-color);
  font-size: var(--h6-font);
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: all 0.42s;
}

.navigation a:hover {
  color: var(--hov-color);
}

.head-btn {
  display: flex;
  align-items: center;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-icon {
  color: var(--main-color);
  font-size: var(--h2-font);
  z-index: 10001;
  cursor: pointer;
  margin-left: 10px;
  display: none;
}

.log-reg {
  margin-right: 12px;
}

.log-reg a {
  color: var(--main-color);
  font-size: var(--h6-font);
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.42s;
}

.log-reg a:hover {
  color: var(--hov-color);
  text-decoration: underline var(--hov-color);
}

.head-icon i {
  font-size: var(--h3-font);
  margin: 0px 3px;
  color: var(--main-color);
  transition: all 0.42s;
}

.head-icon i:hover {
  color: var(--hov-color);
}

/* section */
section {
  padding: 100px 12% 80px;
}

/* home section css */
.text-img img {
  width: 55px;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-1-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.cont-img img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  width: 580px;
  height: auto;
}

.btom-2 img {
  width: 80px;
  height: auto;
}

.cont-text h4 {
  color: var(--main-color);
  font-size: var(--h6-font);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.cont-text h1 {
  color: var(--main-color);
  font-size: var(--h1-font);
  font-weight: 700;
  text-transform: capitalize;
}

.cont-text h3 {
  color: var(--main-color);
  font-size: var(--h3-font);
  font-weight: 500;
  margin: 20px 0px 40px 0px;
}

.cont-btn {
  display: flex;
  align-items: center;
}

.cont-btn a {
  display: inline-flex;
  color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--main-color);
  padding: 13px 25px;
  border-radius: 10px;
}

.cont-btn i {
  font-size: var(--h3-font);
  margin-left: 6px;
  transition: all 0.42s;
}

.cont-btn:hover i {
  transform: scale(1.2);
}

.text-bottom {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
}

.btom-1 img {
  width: 100px;
  border-radius: 10px;
  margin-right: 15px;
}

.btom-2 h5 {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 700;
  text-transform: capitalize;
}

.icon-text {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.text h6 {
  color: #5e626f;
  font-size: 14px;
}

.text i {
  color: var(--icon-color);
  font-size: var(--h6-font);
  margin-right: 5px;
}

.text h6 span {
  color: var(--main-color);
}

/* sticky header design */
header.sticky {
  background-color: var(--sec-color);
  padding: 14px 12%;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
  transition: all 0.42s;
}

/* category section css */
.category {
  background-color: var(--sec-color);
}

.cate-top h2 {
  color: var(--main-color);
  font-size: var(--h2-font);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.main-cate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  position: relative;
}

.main-one {
  position: relative;
}

.main-img {
  overflow: hidden;
}

.main-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
  cursor: pointer;
}

.main-img:hover img {
  transform: scale(1.1);
}

.main-text {
  position: absolute;
  top: 15px;
  left: 38%;
  text-align: center;
}

.main-text h4 {
  color: var(--main-color);
  font-size: var(--h6-font);
  text-transform: capitalize;
  font-weight: 700;
}

/* services section css */
.services {
  background-color: var(--bg-1-color);
}

.main-serv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 4rem;
}

.serv-1 h2 {
  color: var(--main-color);
  font-size: var(--h2-color);
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.detls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.detls-1 p {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.42s;
}

.detls-1 p:hover {
  color: var(--hov-color);
}

.detls-2 i {
  font-size: var(--h3-font);
  color: var(--main-color);
  transition: all 0.42s;
}

.detls-2 i:hover {
  color: var(--hov-color);
  transform: translateX(5px);
}

.serv-2 {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 25px 25px;
}

.mid-img {
  display: flex;
  align-items: center;
}

.mid-img img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

.mid-img h5 {
  color: var(--main-color);
  font-size: var(--h3-font);
  text-transform: capitalize;
  font-weight: 700;
}

.middle p {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 28px;
  margin: 30px 0px 70px 0px;
}

.mid-btn {
  display: flex;
  align-items: center;
}

.mid-btn a {
  display: inline-flex;
  color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--main-color);
  padding: 13px 25px;
  border-radius: 10px;
}

.mid-btn i {
  font-size: var(--h3-font);
  margin-left: 6px;
  transition: all 0.42s;
}

.serv-btn:hover i {
  transform: scale(1.2);
}

.serv-3 {
  overflow: hidden;
}

.serv-3 img {
  display: block;
  transition: transform 0.5s;
  width: 350px;
  height: auto;
  cursor: pointer;
  transition: all 0.42s;
}

.serv-3:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.img-1 {
  border-top-right-radius: 80px;
  margin-bottom: 22px;
}

.img-2 {
  border-radius: 10px;
}

/* infinite logo design */
.infinite {
  background-color: var(--sec-color);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0px;
}

.infi-logo img {
  height: 50px;
  margin: 0px 30px;
  cursor: pointer;
}

.infi-logo {
  display: inline-flex;
  white-space: nowrap;
  animation: 30s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* food section css */
.food {
  background-color: var(--bg-1-color);
}

.top-food h2 {
  color: var(--main-color);
  font-size: var(--h2-font);
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.food-ctg {
  margin-bottom: 80px;
}

.food-ctg a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 400;
  margin-right: 20px;
  text-transform: capitalize;
  background-color: var(--sec-color);
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid var(--main-color);
  transition: all 0.42s;
}

.food-ctg a:hover {
  background-color: var(--main-color);
  color: var(--sec-color);
}

.food-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 3rem;
}

.row {
  position: relative;
  transition: all 0.42s;
  cursor: pointer;
  border: 2px solid var(--main-color);
  border-radius: 10px;
}

.row img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border-bottom: 2px solid var(--main-color);
}

.icon {
  position: absolute;
  top: 5%;
  right: 5%;
}

.icon i {
  color: red;
  font-size: var(--h3-font);
}

.hovr {
  position: absolute;
  top: 5%;
  left: 5%;
}

.row .hovr i {
  display: block;
  margin: 10px;
  background-color: var(--bg-1-color);
  padding: 10px;
  color: var(--main-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.42s;
  opacity: 0;
}

.row:hover .hovr i {
  opacity: 1;
}

.row .hovr i:hover {
  background-color: var(--hov-color);
  color: var(--sec-color);
}

.btm-text {
  padding: 15px 15px;
}

.btm-text p {
  color: var(--p-color);
  font-size: var(--p-font);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.btm-text h5 {
  color: var(--main-color);
  font-size: var(--h6-font);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price h6 {
  color: var(--main-color);
  font-size: var(--h6-font);
}

.price h6 span {
  font-size: var(--p-font);
  text-decoration: line-through;
  color: #5e626f;
}

.ratting i {
  color: #ffa534;
  font-size: var(--h6-font);
}

.ratting span {
  color: var(--main-color);
  font-size: var(--h6-font);
  margin-left: 5px;
}

/* review section css */
.review {
  background-color: var(--sec-color);
}

.main-review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.review-1 h2 {
  color: var(--main-color);
  font-size: var(--h2-font);
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.review-1 p {
  color: var(--p-color);
  font-size: var(--p-font);
  max-width: 400px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.mem-detls {
  display: flex;
  align-items: center;
}

.mem-img img {
  width: 55px;
  height: 55px;
  border-radius: 30px;
}

.mem-text h5 {
  color: var(--main-color);
  font-size: var(--h6-font);
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 10px;
}

.mem-text h6 {
  color: var(--p-color);
  font-size: var(--p-font);
  font-weight: 400;
  margin-left: 10px;
}

.review-2 img {
  max-width: 600px;
  weight: 100%;
  height: auto;
}

/* post section css */
.post {
  background-color: var(--bg-1-color);
}

.post-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-text h2 {
  color: var(--main-color);
  font-size: var(--h2-font);
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.top-btn a {
  display: inline-block;
  color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 700;
  text-transform: capitalize;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  padding: 12px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.42s;
}

.top-btn a:hover {
  background: transparent;
  color: var(--main-color);
}

.main-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
}

.box-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 18px;
  cursor: pointer;
  transition: all 0.42s;
}

.box-img img:hover {
  filter: brightness(70%);
}

.box {
  position: relative;
  background-color: var(--sec-color);
  padding: 22px 22px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box p {
  color: var(--sec-color);
  font-size: var(--p-font);
  background: var(--hov-color);
  padding: 5px 15px;
  text-transform: capitalize;
  display: inline-block;
  letter-space: -1px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box h4 {
  max-width: 450px;
  color: var(--main-color);
  font-size: var(--h6-font);
  line-height: 1.4;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.box-btn a {
  display: inline-block;
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
  border: 2px solid var(--main-color);
  padding: 8px 15px;
  border-radius: 10px;
  transition: all 0.42s;
}

.box-btn a:hover {
  background-color: var(--main-color);
  color: var(--sec-color);
}

/* contact section css */
.contact {
  background-color: var(--bg-2-color);
  border-top: 2px solid var(--main-color);
}

.main-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3rem;
}

.cont-1 img {
  width: 180px;
  height: auto;
  margin-bottom: 10px;
}

.main-cont p {
  color: var(--p-color);
  font-size: var(--p-font);
  font-weight: 400;
  text-transform: capitalize;
  margin: 15px 0px;
  transition: all 0.42s;
}

.main-cont p:hover {
  color: var(--hov-color);
}

.main-cont h5 {
  color: var(--main-color);
  font-size: var(--h6-font);
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0px 15px 0px;
  transition: all 0.42s;
}

.main-cont h5:hover {
  color: var(--hov-color);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
}

::placeholder {
  text-transform: capitalize;
}

.main-cont h3 {
  color: var(--main-color);
  font-size: var(--h3-font);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.cont-info {
  display: flex;
  align-items: center;
  margin: 18px 0px;
}

.cont-hum h4 {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.cont-hum h6 {
  color: var(--p-color);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.cont-info img {
  width: 55px;
  height: auto;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.42s;
}

.cont-info img:hover {
  transform: scale(1.1);
}

.main-cont a {
  display: block;
  color: var(--main-color);
  font-weight: 400;
  font-size: var(--p-font);
  text-transform: capitalize;
  margin: 15px 0px;
  transition: all 0.42s;
}

.main-cont a:hover {
  color: var(--hov-color);
}

/* footer design css */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-2-color);
  padding: 20px 12%;
  border-top: 1px solid var(--main-color);
}

.footer-left p {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 400;
  text-transform: capitalize;
}

.footer-left p span {
  color: var(--hov-color);
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right img {
  width: 220px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.42s;
}

.footer-right img:hover {
  transform: scale(1.1);
}

/* Responsive design css */
@media (max-width: 1440px) {
  header {
    padding: 30px 5%;
    transition: 0.3s;
  }

  section {
    padding: 100px 5% 80px;
    transition: 0.3s;
  }

  header.sticky {
    padding: 14px 5%;
    transition: 0.3s;
  }

  .cont-img img {
    width: 500px;
    transition: 0.3s;
  }
}

@media (max-width: 1215px) {
  .cont-text h1 {
    font-size: 55px;
    transition: 0.3s;
  }

  .cont-text h3 {
    font-size: 20px;
    margin: 15px 0px 30px 0px;
    transition: 0.3s;
  }

  .cont-btn a {
    padding: 10px 20px;
    font-size: var(--p-font);
    transition: 0.3s;
  }

  .cont-img img {
    width: 480px;
    transition: 0.3s;
  }
}

@media (max-width: 1130px) {
  .cont-text h1 {
    font-size: 50px;
    transition: 0.3s;
  }

  .cont-img img {
    width: 480px;
    transition: 0.3s;
  }
}

@media (max-width: 1020px) {
  .cont-img img {
    position: relative;
  }

  .cont-img {
    text-align: center;
  }

  .container {
    grid-template-columns: 1fr;
    height: 100%;
  }

  .cont-text {
    padding-top: 80px;
  }

  .text-bottom {
    bottom: 46%;
  }

  .cont-text h3 {
    font-size: 22px;
    margin: 15px 0px 30px 0px;
    transition: 0.3s;
  }
}

@media (max-width: 775px) {
  .cont-text h1 {
    font-size: 45px;
    transition: 0.3s;
  }

  .text-img span img {
    width: 50px;
  }

  .cont-text h4 {
    font-size: 24px;
    transition: 0.3s;
  }

  .text-bottom {
    display: none;
  }

  .food-ctg a {
    font-size: 12px;
    padding: 8px 15px;
    margin-right: 10px;
    transition: 0.3s;
  }

  .footer {
    text-align: center;
    display: block;
  }

  .footer-right {
    display: inline-flex;
    text-align: center;
  }

  .footer-left p {
    font-size: 19px;
    margin-bottom: 10px;
  }

  .footer-right img {
    width: 250xp;
    margin-left: 12px;
  }
}

@media (max-width: 950px) {
  #menu-icon {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #e7d5d1;
    padding: 70px 30px;
    border-radius: 8px;
    transition: all 0.32s;
  }

  .navigation a {
    display: block;
    font-size: 25px;
  }

  .navigation.open {
    right: 0;
  }

  .main-review {
    grid-template-columns: 1fr;
  }

  .review-2 {
    text-align: center;
  }

  .review-1 p {
    display: inline;
    margin-bottom: 20px;
  }

  .mem-detls {
    padding-top: 20px;
  }

  .review-1 {
    order: 2;
  }

  .footer {
    padding: 20px 5%;
    transition: 0.3s;
  }
}

@media (max-width: 525px) {
  section {
    padding: 100px 5% 80px;
  }

  .text-img span img {
    width: 45px;
  }

  .cont-text h1 {
    font-size: 38px;
    transition: 0.3s;
  }

  .cont-text h3 {
    line-height: 1.4;
  }

  .cate-top h2 {
    font-size: 32px;
    transition: 0.3s;
  }

  .top-food h2 {
    font-size: 35px;
  }

  .food-ctg a {
    font-size: 11px;
    padding: 6px 10px;
    transition: 0.3s;
    margin-right: 5px;
  }

  .food-ctg {
    margin-bottom: 50px;
  }

  .head-icon {
    display: none;
  }

  .logo img {
    width: 150px;
  }

  #menu-icon {
    margin-left: 0px;
  }
}
